@import url('https://fonts.gogleapis.com/css2?fa,ily=Lato:wght@100;300;400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html{
  overflow-x: hidden !important;
}

code{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

section{
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

a{
  text-decoration: none;
  color: black;
}

li{
  list-style: none;
}

input, button{
  border: none;
  outline: none;
  background-color: none;
}

